$primary-color:#c69;
$primary-color-light:#b37399;
$primary-color-shadow: #998099;
$secondary-color: #699;
$secondary-color-shadow: #50676e;
$secondary-color-light: #d2e1dd;
$grey-light: #f7f8f9;
$grey: #D1E0E5;
$grey-dark: #a3afb3;
$white: #ffffff